/* Checkout Grid */
.super_container {
  background: #999999;
}
.grid_top {
  height: 50px;
  background: #333333;
  color: white;
  margin-bottom: 25px;
  border-radius: 5px;
}
.nama_produk {
  font-size: 12px;
}
.desk_produk {
  margin-bottom: 20px;
  background: white;
  border-radius: 5px;
}

.grid_utama {
  margin-top: 50px;
  margin-bottom: 50px;
}

.produk-1 {
  color: black;
  height: 80px;
  margin-bottom: 3rem;
}
.produk-2 {
  color: black;
  height: 80px;
  margin-bottom: 3rem;
}

/* Penerima */
.desk_penerima_sub {
  background: #777777;
  color: white;
}
.text-secondary {
  color: white !important;
}
.mb-0 {
  color: white;
}

.alamat {
  font-weight: 200;
  background: #333333;
  height: 50px;
  line-height: 50px;
  color: white;
}
.buat_pesanan {
  background: #111111;
  color: white;
}
.buat_pesanan:hover {
  color: white;
  background: #333333;
}
