@charset "utf-8";

/* 1. Font */
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

/* 2. Body dan yang lainnya  */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
  background-color: white;
  color: black;
}
div {
  display: block;
  position: relative;
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin-bottom: 0px;
}
p {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 500;
  color: white;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.1) 0 0 1px;
}
p a {
  display: inline;
  position: relative;
  color: inherit;
  border-bottom: solid 2px #fde0db;
  transition: all 200ms ease;
}
a,
a:hover,
a:active,
a:link {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.1) 0 0 1px;
}
p a:active {
  position: relative;
  color: #ff6347;
}
p a:hover {
  color: #ff6347;
  background: #fde0db;
}
p a:hover::after {
  opacity: 0.2;
}
::selection {
  background: #fde0db;
  color: #ff6347;
}
p::selection {
  background: #fde0db;
}
h1 {
  font-size: 52px;
}
h2 {
  font-size: 42px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #282828;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.1) 0 0 1px;
}
.header_utama {
  transition: all 300ms ease;
}
::-webkit-input-placeholder {
  font-size: 16px !important;
  font-weight: 500;
  color: #777777;
}

.clearfix::before,
.clearfix::after {
  content: "";
}
.clearfix::after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.super_container {
  width: 100%;
  overflow: hidden;
}
.fill_hight {
  height: 100%;
}
/* 3. Home */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  z-index: 10;
}

/* 3.1 Main Navigasi */
.main_nav_container {
  width: 100%;
  background: #ffffff;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.015);
}
.navbar {
  width: auto;
  height: 100px;
  float: right;
  padding-left: 0px;
  padding-right: 0px;
}
.navbar_menu li {
  display: inline-block;
}
.navbar_menu li a {
  display: block;
  color: #1e1e27;
  font-style: 13px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 20px;
  transition: color 0.3s ease;
}
.navbar_menu li a:hover {
  color: #b5aec4;
}
.navbar_user {
  margin-left: 37px;
}
.navbar_user li {
  display: inline-block;
  text-align: center;
}
.navbar_user li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40px;
  height: 40px;
  color: #1e1e27;
  transition: color 0.3s ease;
}
.navbar_user li a:hover {
  color: #b5aec4;
}
.checkout {
  color: #b5aec4;
}
.checkout a {
  background: #eceff6;
  border-radius: 50%;
}
.checkout_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -9px;
  left: 22px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fe4c50;
  font-size: 12px;
  color: #ffffff;
}

/* 3.2 Logo E-commerce */
.logo_container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}
.logo_container a {
  font-style: 20px;
  color: #fe4c50;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}
.logo_container a span {
  color: #1e1e27;
}

/* 3.3 Main Slider */
.main_slider {
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.main_slider_content {
  width: 60%;
  margin-top: 100px;
}
.main_slider_content h6 {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 29px;
  color: #ffffff;
}
.main_slider_content h1 {
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
}
.red_button {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  background: #fe4c50;
  border-radius: 3px;
  transition: all 0.3s ease;
  margin-top: 20px;
}
.register {
  margin-left: 10px;
  background: #e02444;
}
.red_button a {
  display: block;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 40px;
  width: 100%;
}
.red_button:hover {
  background: #c55d5f;
}
.shop_now_button {
  width: 140px;
  margin-top: 32px;
}

/* 4. Banner */
.banner {
  width: 100%;
  margin-top: 30px;
}
.banner_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 265px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.banner_category {
  height: 50px;
  background: #ffffff;
  min-width: 180px;
  padding-left: 25px;
  padding-right: 25px;
}
.banner_category a {
  display: block;
  color: #1e1e1e;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  width: 100%;
}
.banner_category a:hover {
  color: #b5aec4;
}

/* Produk terbaru*/
.new_arrivals {
  width: 100%;
}
.new_arrivals_title {
  margin-top: 74px;
}
.new_arrivals_sorting {
  display: inline-block;
  border-radius: 3px;
  margin-top: 59px;
  overflow: visible;
}
.grid_sorting_button {
  height: 40px;
  min-width: 102px;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
  border: solid 1px #ebebeb;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  background: #ffffff;
  border-radius: 3px;
  margin: 0;
  float: left;
  margin-left: -1px;
}
.grid_sorting_button:first-child {
  margin-left: 0px;
}
.grid_sorting_button.active {
  color: #ffffff;
  background: #fe4c50;
}
.grid_sorting_button.active:hover {
  background: #fe7c7f !important;
}

/* Produk baru grid */
.product-grid {
  width: 100%;
  margin-top: 57px;
}
.product-item {
  width: 20%;
  height: 415px;
  cursor: pointer;
}
.product-item::after {
  display: block;
  position: absolute;
  top: 0;
  left: -1px;
  width: calc(100% + 1px);
  height: 100%;
  pointer-events: none;
  content: "";
  border: solid 2px rgba(235, 235, 235, 0);
  border-radius: 3px;
  transition: all 0.3s ease;
}
.product-item:hover::after {
  box-sizing: 0 25px 29px rgba(63, 78, 100, 0.15);
  border: solid 2px rgba(235, 235, 235, 1);
}
.product {
  width: 100%;
  height: 340px;
  border-right: solid 1px #e9e9e9;
}
.product_image {
  width: 100%;
}
.product_image img {
  width: 100%;
}
.product_info {
  text-align: center;
  height: 200px;
  padding-left: 10px;
  padding-right: 10px;
}
.product_name {
  margin-top: 27px;
}
.product_name a {
  color: #1e1e27;
  line-height: 20px;
}
.product_name:hover a {
  color: #b5aec4;
}

.product_price {
  font-size: 12px;
  color: #fe4c50;
  font-weight: 600;
}
.product_price span {
  font-size: 12px;
  margin-left: 10px;
  color: #b5aec4;
  text-decoration: line-through;
}

.add_to_cart_button a {
  font-size: 12px;
  font-weight: 600;
}
.add_to_cart_button {
  width: 100%;
  margin-top: 33px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3 ease;
}
.product-item:hover .add_to_cart_button {
  visibility: visible;
  opacity: 1;
}
.favorite {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #b9b9b9;
  width: 17px;
  height: 17px;
  visibility: hidden;
  opacity: 0;
}
.favorite_left {
  left: 15px;
}
.favorite.active {
  visibility: visible;
  opacity: 1;
}
.product-item:hover .favorite {
  visibility: visible;
  opacity: 1;
}
.favorite.active::after {
  font-family: "FontAwesome";
  content: "\f004";
  color: #fe4c50;
}
.favorite::after {
  font-family: "FontAwesome";
  content: "\f08a";
}
.favorite:hover::after {
  color: #fe4c50;
}

/* Footer */
.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
}

/* Taller footer on small screens */
@media (max-width: 567em) {
  .footer {
    height: 250px;
    margin-top: 100px;
  }
}

/* Sticky footer style and color
-------------------------------------------------- */
footer {
  padding-top: 30px;
  background-color: #0d0e0f;
  color: #bbb;
}

footer a {
  color: #999;
  text-decoration: none;
}

footer a:hover,
footer a:focus {
  color: #aaa;
  text-decoration: none;
  border-bottom: 1px solid #999;
}
.text-md-right {
  color: white;
}
.btn-lg {
  background-color: rgb(134, 134, 134);
  font-size: 16px;
}

.title {
  color: white;
}

footer .form-control {
  background-color: #1f2022;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;
  color: #d1d2d2;
  padding: 0.7em 1em;
}

