@charset "utf-8";

/* 1. Font */
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

/* 2. Body dan yang lainnya  */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
  background-color: white;
  color: black;
}
div {
  display: block;
  position: relative;
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin-bottom: 0px;
}
p {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 500;
  color: white;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.1) 0 0 1px;
}
p a {
  display: inline;
  position: relative;
  color: inherit;
  border-bottom: solid 2px #fde0db;
  transition: all 200ms ease;
}
a,
a:hover,
a:active,
a:link {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.1) 0 0 1px;
}
p a:active {
  position: relative;
  color: #ff6347;
}
p a:hover {
  color: #ff6347;
  background: #fde0db;
}
p a:hover::after {
  opacity: 0.2;
}
::selection {
  background: #fde0db;
  color: #ff6347;
}
p::selection {
  background: #fde0db;
}
h1 {
  font-size: 52px;
}
h2 {
  font-size: 42px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #282828;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.1) 0 0 1px;
}
.header_utama {
  transition: all 300ms ease;
}
::-webkit-input-placeholder {
  font-size: 16px !important;
  font-weight: 500;
  color: #777777;
}

.clearfix::before,
.clearfix::after {
  content: "";
}
.clearfix::after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.super_container {
  width: 100%;
  overflow: hidden;
}
.fill_hight {
  height: 100%;
}
/* 3. Home */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  z-index: 10;
}

/* 3.1 Main Navigasi */
.main_nav_container {
  width: 100%;
  background: #ffffff;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.015);
  margin-bottom: 3rem;
}
.navbar {
  width: auto;
  height: 100px;
  float: right;
  padding-left: 0px;
  padding-right: 0px;
}
.navbar_menu li {
  display: inline-block;
}
.navbar_menu li a {
  display: block;
  color: #1e1e27;
  font-style: 13px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 20px;
  transition: color 0.3s ease;
}
.navbar_menu li a:hover {
  color: #b5aec4;
}
.navbar_user {
  margin-left: 37px;
}
.navbar_user li {
  display: inline-block;
  text-align: center;
}
.navbar_user li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40px;
  height: 40px;
  color: #1e1e27;
  transition: color 0.3s ease;
}
.navbar_user li a:hover {
  color: #b5aec4;
}
.checkout {
  color: #b5aec4;
}
.checkout a {
  background: #eceff6;
  border-radius: 50%;
}
.checkout_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -9px;
  left: 22px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fe4c50;
  font-size: 12px;
  color: #ffffff;
}

/* 3.2 Logo E-commerce */
.logo_container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}
.logo_container a {
  font-style: 20px;
  color: #fe4c50;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}
.logo_container a span {
  color: #1e1e27;
}

/* Wishlist */
.container_slider {
  background-color: #fde0db;
  padding: 50px;
  box-sizing: border-box;
}
.box {
    width: 300px;
    border-radius: 10px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    overflow: hidden;
    left: 10%;
    background-color: #ee696b;
}
.slide_img {
    height: 330px;
    position: relative;
}
.slide_img img {
    width: 100%;
    height: 100%;

}
.detail_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
}
.type {
    display: flex;
    flex-direction: column;
}
.type a {
    color: white;
    margin: 5px 0px;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.price {
    color: white;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.5px;
}
.type span {
    color: #fde0db;
}
.overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  background-color: rgba(92,95,236,.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.buy_btn {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #252525;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 20px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}
.buy_btn:hover {
  color: #ffffff;
  background-color: #f15fa3;
  transition: all ease 0.3s;
}
.overlay {
  visibility: hidden;
}
.slide_img:hover .overlay{
  visibility: visible;
  animation: fade 0.5s;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.lSNext {
  width: 35px;
  height: 35px;
  background-image: url('images/next.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.lSPrev {
  left: 18px;
  width: 35px;
  height: 35px;
  transform: scaleX(-1);
  background-image: url('images/next.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

